.team {
  background-color: var(--back-team-color);
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
  }

  &__item {
    box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 480px) {
      width: 450px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}

.description-card {
  padding: 30px 32px 30px;
  text-align: center;
  background-color: var(--white-text-back-color);
  border-radius: 0px 0px 4px 4px;

  &__title {
    margin-bottom: 10px;
    font-family: var(--main-font);
    @include font(500, 16px, 1.19);
    color: var(--title-text-color);
  }

  &__suptitle {
    margin-bottom: 10px;
    font-family: var(--main-font);
    @include font(400, 16px, 1.19);
    color: var(--discription-text-color);
  }
}
